<p id="notice"><%= notice %></p>



<h1>User Tasks</h1>

<%= link_to 'New User Task', new_user_task_path, remote: true, class: 'btn btn-default' %>

<div id="task-form"></div>

<br>
<br>

<div id="tasks">
  <%= render @user_tasks %>
</div>


<% if @user_tasks.empty? %>
  <%= "Get Busy Motha-fucka!" %>
<% end %>




